langchain>=0.3.0
langchain-openai
langchain-groq
langchain-google-genai
python-dotenv
pydantic>=2.0.0
tiktoken
pytest
langfuse
chromadb
langchain-chroma
langchain-community
sentence-transformers
fastapi
uvicorn
sqlalchemy
aiosqlite
langchain-google-vertexai
rank_bm25
pypdf
httpx
langchain-text-splitters